{% extends "layout.html" %}
{% block body %}
    <h1>Search for your favorite albums</h1>
    
    <input id='searchbar' name="album-name" autofocus type="text" placeholder="Enter album name">
    <ul id="results"></ul>
    
    <script>
        document.querySelector("#searchbar").addEventListener("keyup", async function(event) {
            const query = event.target.value.toLowerCase();
            if (query.length === 0) {
                resultList.innerHTML = "";
                return;
            }
            const response = await fetch("/search", {method: "POST", 
            headers: {"Content-Type": "application/json"}, body: JSON.stringify({ title: query})
            });
            const results = await response.json();
            const resultList = document.querySelector("#results")
            resultList.innerHTML = "";

            results.forEach(album => {
                const li = document.createElement("li");
                li.textContent = `${album.title} by ${album.artist}, released in ${album.year}`;
                
                const favBtn = document.createElement("button");
                favBtn.textContent = "Add to favorites";
                favBtn.onclick = () => handleAction(album);
                li.append(favBtn);
                
                resultList.appendChild(li);
            });
        });

        async function handleAction(album) {
            const response = await fetch("/action", {method: "POST", 
            headers: {"Content-Type": "application/json"}, body: JSON.stringify({ album})
            });
            const result = await response.json();
            alert(result.message);
        }
    </script>

{% endblock %}